
body{
    display: flexbox;
}

@media (hover){
    .itemHobbie:hover, .itemTop:hover{
        transform: rotate3d(0, 1, 0, 25deg);
    }
} 

@media (hover){
    .tituloTextoLink:hover{
        font-size: 250%;    
    }
} 

.titulo1{ /* texto titulo header */
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
}

a{
    text-decoration: none;
    color: #000000;
    padding: 8px 16px;
}

.tituloTextoLink{ /* subtitulo e texto links header */
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #000000;      
    transition-property: font-size;
    transition-duration: 2s;  
}

.textoTopicos{ /* texto topicos e corpo bibliografia */
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.linkContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.containerHeader{
    display: flex;
    justify-content: space-between;
    padding: 28px 30px;
    max-height: 14%;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}

.fotosMain{
    padding: 35px 0 35px 0;
    min-width: 247px;
    max-width: 25.1%;
}

.fotosMain > img{
    border-radius: 50%;
    max-width: 100%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.mainBiografia{
    display: flexbox;
    flex-wrap: wrap;
    min-width: 403.5px;
    max-width: 62.3%;
    overflow: auto;
    padding: 66px 0 66px 0;
}

.main1_1{
    display: flex;
    flex-wrap: wrap;
    gap: 12.6%;
    justify-content: space-around;    
    padding: 35px 0 35px 0;
    max-width: 68.5%;
}

.main1{
    display: flex;
    justify-content: center;
    max-height: 40%;
    background: #F3F3F3;
}

.main2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 37%;
}

.containerHobbies{    
    padding: 20px;
    margin-right: 13px;
}

.containerHobbies > h3{
    text-align: end;
}

.containerHobbies > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.itemHobbie{
    width: 102px;
    height: 150px;
    background: #DFDFDF;
    border-radius: 5px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.itemHobbie > p{       
    text-align: center;
    padding: 111px 18.5px 17px 18.5px;
}

.containerTop{
    padding: 20px;
    margin-left: 13px;
}

.containerTop > h3{
    text-align: start;
}

.containerTop > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.itemTop{    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 102px;
    height: 150px;
    background: #DFDFDF;
    border-radius: 5px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.itemTop > p{    
    text-align: center;
    padding-bottom: 17px;
}

.marcadorItemTop{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 19px;
    height: 44px;
    left: 5px;
    top: 0px;
    background: #C4C4C4;
    border-radius: 0px 0px 5px 5px;
}

.linksFooter{
    display: flex;
    align-items: center;
}


.linksFooter img{
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    top: 19px;
}

.containerFooter{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    column-gap: 60%;
    padding: 16px 96.5px 16px 96.5px;
    max-height: 9%;
    background: #C4C4C4;
}

.contatoFooter{
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    background: #DFDFDF;
}

